
$primaryFontStack: 'Tomorrow', Arial, sans-serif;
$secondaryFontStack: 'Roboto', Arial, sans-serif;
$thirdFontStack: 'Poppins', Arial, sans-serif;

/*COLORS*/
$primaryTextColor: white;
$secondaryTextColor: #111626;
$primaryButtonColor: #F21628;
$aboutSectionSecondaryColor: #252423;
$primaryBackgroundColor: #111626;
$secondaryBackgroundColor: white;
$thirdBackgroundColor: #F21628;
$projectHoverBackgroundColor: #0b0e18;

%mainBackgroundColor {
    background-image: linear-gradient(to bottom, $primaryBackgroundColor -17%, $primaryBackgroundColor 100%);    
}
%aboutBackgroundColor {
    background-color: $secondaryBackgroundColor;
}
%skillsWrapperColor {
        background-color: $thirdBackgroundColor;
}
%skillsWrapperColorHover {
    background-image: radial-gradient( rgb(175, 7, 38) ,#BF0426 )
}

%projectBackgroundColor {
    background-color: $primaryBackgroundColor;
}

%contactBackgroundColor {
    background-color: $primaryBackgroundColor;
}


/*BUTTON STYLING*/

%mainButtonStyle {
    padding: 5%;
    margin: 2.5%;
    background-color: $primaryButtonColor;
    transition-duration: 0.4s;
    font-weight: 900;
    letter-spacing: 0.15em;
    font-size: 1.5em;
    border-radius: 20px;
    color: white;
    font-family: $secondaryFontStack;
    &:hover {
        background-position: right center; 
        background-image: linear-gradient(to right, $primaryButtonColor 0%, rgb(148, 16, 27));
    }
    
}

%mainButtonBackgroundColorHover {
    background-position: right center; 
    background-image: linear-gradient(to right, $primaryButtonColor 0%, rgb(148, 16, 27));
    color: white;
}

/*POSITIONING*/

%flexJustifyEvenly {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

%flexJustifyBetween {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

%flexJustifyCenter {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}