@import 'variables';

section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    @extend %contactBackgroundColor;
    h2 {
        color: $primaryTextColor;
        font-family: $primaryFontStack;
        font-size: 3.8rem;
        margin-bottom: 1rem;
    }
    .contactIconsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img {
            width: 2vw;
        }
        a {
        margin: 0 0.35rem;
        }
    }
}