@import 'variables';

nav {
    ul {
        @extend %flexJustifyEvenly;
        font-family: $secondaryFontStack;
        padding: 2.5rem 2rem;
        a {
            font-weight: 400;
            font-size: 1.5rem;
            color: white;
            &:hover {
                color: $primaryTextColor;
            }
        }
    }
}