@import 'config';

section.projects {
    height: 100vh;
    @extend %projectBackgroundColor;
    
    h2 {
        height: 8%;
        font-family: $primaryFontStack;
        font-size: 5em;
        color: $primaryTextColor;
        margin: 5%;
    }
    
    .main-carousel {
        height: 84%;

        .carousel-cell {
            min-width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80vh;
            justify-content: center;

            p {
                font-family: $thirdFontStack;
                font-size: 2em;
                color: $primaryTextColor;
                text-align: center;
            }

            img {
                width: 70%;
            }

            .projectLinksWrapper {
                width: 70%;
                display: flex;
                justify-content: space-between;

            a {
                color: $primaryButtonColor;
                font-family: $thirdFontStack;
                font-size: 1.5em;
            }

        }
        }
    }
    }