@import 'config';

section.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @extend %projectBackgroundColor;
    
    h2 {
        height: 8%;
        font-family: $primaryFontStack;
        font-size: 5em;
        color: $primaryTextColor;
        margin: 5%;
        margin-bottom: 3%;
    }
    
    .main-carousel {
        display: flex;
        flex-direction: column;
        margin: 5% 0;

        .flickity-button {
            background: transparent;

        }

        .flickity-button-icon {
            fill: $primaryButtonColor;
        }

        .carousel-cell {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 93.5%;
            background-color: white;
            border-radius: 25px;
            padding: 2%;
            margin: 0.5%;
            box-shadow: 1.5px 3px 2px rgb(152, 156, 165);

            .projectDescription{
                display: none;
            }

            p {
                font-family: $secondaryFontStack;
                font-weight: 600;
                font-size: 2em;
                color: $secondaryTextColor;
                text-align: center;
                min-height: 3em;
            }

            img {
                width: 70%;
            }

            .bSideCarousel {
                width: 70%;
            }

            .projectLinksWrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 1.5%;

            a {
                color: $primaryButtonColor;
                font-family: $thirdFontStack;
                font-size: 1.5em;
                font-weight: 400;
            }

        }
        }
    }
    .currentInfo {
        font-family: $thirdFontStack;
        color: $primaryTextColor;
        background-color: $primaryButtonColor;
        font-size: 1.55em;
        text-align: center;
        padding: 2%;
        margin-top: 12.5%;
        box-shadow: 0px 4px 2px #2a2d37;
    }
    @include responsive(landTablets){
    .main-carousel{
        margin: 0 2%;
        .carousel-cell{
            width: 60%;
        }
    }
  }

  @include responsive(desktops){
      .main-carousel {
          width: 64%;
          align-self: center;

        .carousel-cell{
            width: 95%;
            max-height: 40em;
            border: 1px solid white;

            .projectTitle {
                color: $secondaryTextColor;
                width: max-content;
                padding: 1%;
                font-size: 3em;
                margin-top: 4%;
                min-height: initial;
            }

            img {
                border: 1px solid black;
                width: 55%;
            }

            .bSideCarousel {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            .projectDescription{
                display: block;
                font-size: 1.25em;
                min-height: initial;
                width: 60%;
                font-weight: lighter;
                margin: 1.5%;
                color: $secondaryTextColor;
                font-family: $thirdFontStack;
            }

            .projectLinksWrapper{
                width: 42%;
                margin: 1.5% 2%;
            }
        }
        .flickity-prev-next-button.previous {
            left: -40px;
        }

        .flickity-prev-next-button.next {
            right: -40px;
        }
      }
  }
}