@import 'variables';

section.projects {
    height: 100vh;
    padding: 1.5rem;
    @extend %projectBackgroundColor;
    h2 {
        font-family: $primaryFontStack;
        color: $primaryTextColor;
        font-size: 5.6rem;
        margin: 2.3rem 0 0 18rem;
        @include responsive(phone) {
            margin-left: 12rem;
        }
    }
    .projectsContainer {
        display: flex;
        align-items: center;
        height: 80vh;
        justify-content: center;
        .projectWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem;
            transition-duration: 0.4s;
            width: 36vw;
            height: 43vh;
            &:hover {
                background-color: #0f1713;
                border-radius: 8.0rem;
                height: 60%;
            }
        }
        p {
            color: white;
            font-family: $thirdFontStack;
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
        }
        .projectLinksWrapper {
            margin-top: 0.8rem;
            width: 29vw;
            @extend %flexJustifyBetween;
        }
        a {
            color: #a7dfdf;
            font-weight: lighter;
            font-family: $thirdFontStack;
            font-size: 1.5rem;
            &:hover {
                font-weight: normal;
            }
        }
    }
        img {
            width: 32vw;
        }
        
        @include responsive(tab-land) {
            .projectsContainer {
                p {
                    font-size: 3rem;
                    text-align: center;
                }
                a {
                    font-size: 2.5rem;
                }

                .projectWrapper {
                    width: 39vw;
                    height: 30vh;
                }
            }

        }
        
        
        @include responsive(tab-port) {
        }
        
        @include responsive(phone) {
            h2 {
                margin-left: 7.5%;
                margin-bottom: 3%;
            }
            .projectsContainer {
                flex-flow: column nowrap;
                p {
                    font-size: 3rem;
                    text-align: center;
                }
                a {
                    font-size: 2.5rem;
                }
                .projectWrapper {
                    width: 80vw;
                    height: 26vh;
                    margin: 14.5% 0;
                    &:hover {
                        height: 44%;
                        width: 93vw;
                    }
                    img {
                        width: 80vw;
                        max-width: 80vw;
                    }
                    .projectLinksWrapper {
                        width: 79vw;
                    }
                }
            }
        }
        
    }