@import 'variables';

section.about {
    height: 100vh;
    @extend %aboutBackgroundColor;
    padding: 1.5rem;
    h2 {
        font-family: $primaryFontStack;
        color: $secondaryTextColor;
        font-size: 5.6rem;
        margin-top: 2rem;
        margin-left: 18rem;
        @include responsive(phone){
            margin-left: 7.5%;
        }
    }
    .skillsContainer {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        margin: 4.5rem 10rem;

        @include responsive(tab-land) {
            flex-wrap: wrap;
            .skillsWrapper {
                margin: 2.5rem;
            p {
                    margin-top: 0;
                    width: 28vw;
                }

            .flatBackground {
                min-height: 20vh;
            }
        }

        }
    
        @include responsive(tab-port){
            flex-wrap: wrap;
            .skillsWrapper {
                margin: 2.5rem;
            p {
                    margin-top: 0;
                    width: 28vw;
                }

            .flatBackground {
                min-height: 23vh;
                min-width: 25vw;
                img {
                    width: 12vw;
                    max-width: 12vw;
                }
                img.multipleitems {
                    width: 10vw;
                    max-width: 10vw;
                }
            }
        }
        }
    
        @include responsive(phone) {
            margin: 0;
            margin-top: 10%;
            min-width: 50vw;
            .skillsWrapper{
                margin: 2% 2% 18.5%;
                padding: 0;

            .flatBackground {
                min-height: 12vh;
                width: 24vw;
                max-width: 24vw;
            }
        }
        }
    
        @include responsive(big-desktop) {
            
        }
    }
    .skillsWrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 3.5rem;
        p {
            font-family: $thirdFontStack;
            color: $aboutSectionSecondaryColor;
            text-align: center;
            margin-top: 0.8rem;
            width: 15vw;
            font-size: 2.4rem;
        }
        .flatBackground {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 2.3rem;
            width: 15vw;
            max-width: 15vw;
            min-height: 33vh;
            transition-duration: 0.3s;
            border-radius: 6.5rem;
            margin: 1rem;
            @extend %skillsWrapperColor;
            box-shadow: (1px 4px 3px grey);
            &:hover {
                @extend %skillsWrapperColorHover;
                border-radius: 8.0rem;
            }
            .multipleitems {
                font-size: 80em;
            }
            .iconify {
                font-size: 92em;
                max-height: 18vh;
                max-width: 7vw;
                color: white;
            }
        }

        .gitAgile {
            flex-direction: column;
        }
        }
    }