@import 'config';

section.about {
    height: 100vh;
    @extend %aboutBackgroundColor;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        font-family: $primaryFontStack;
        color: $secondaryTextColor;
        font-size: 5.6rem;
        height: 22%;
        margin: 5%;
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        height: 78%;


        .skillsWrapper {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            width: 50%;

            p {
                font-family: $thirdFontStack;
                color: $aboutSectionSecondaryColor;
                text-align: center;
                margin-top: 0.8rem;
                font-size: 1.75rem;
            }

            .flatBackground {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                transition-duration: 0.3s;
                border-radius: 40px;
                @extend %skillsWrapperColor;
                box-shadow: (1px 4px 3px grey);
                min-width: 144px;
                min-height: 154px;
                height: 53%;
                width: 77%;

                &.twoItems {
                    flex-direction: column;
                }

                &:hover {
                    @extend %skillsWrapperColorHover;
                    border-radius: 50px;
                }

                .iconify {
                    font-size: 5em;
                    color: white;
                }

                img.multipleitems {
                    width: 35%;
                }
            }
        }
    }
}