
$primaryFontStack: 'Tomorrow', Arial, sans-serif;
$secondaryFontStack: 'Roboto', Arial, sans-serif;
$thirdFontStack: 'Poppins', Arial, sans-serif;

/*COLORS*/
$primaryTextColor: #c0d8d7;
$secondaryTextColor: rgb(22, 22, 22);
$primaryButtonColor: #86CB92;
$aboutSectionSecondaryColor: #252423;
%mainBackgroundColor {
    background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);    
}
%aboutBackgroundColor {
    background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}
%skillsWrapperColor {
    background-image: radial-gradient(rgb(145, 115, 78), #BF9F78)
}
%skillsWrapperColorHover {
    background-image: radial-gradient(#d8e9e9, #c0d8d7)
}

%projectBackgroundColor {
    background: black;
}

%contactBackgroundColor {
    background-image: linear-gradient(black 0%, #0f1713 130%);
}


/*BUTTON STYLING*/

%mainButtonStyle {
    padding: 4.5% 8.5%;
    background-color: $primaryButtonColor;
    transition-duration: 0.4s;
    font-weight: 900;
    letter-spacing: 0.15em;
    font-size: 17px;
}

%mainButtonBackgroundColorHover {
    background-position: right center; 
    background-image: linear-gradient(to right, $primaryButtonColor 0%, rgb(96, 149, 172));
    color: white;
}

/*POSITIONING*/

%flexJustifyEvenly {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

%flexJustifyBetween {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

%flexJustifyCenter {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}