@import 'variables';
@import 'reset';
@import 'nav';
@import 'skillsSection';
@import 'projectsSection';
@import 'footer';

main {
    height: 100vh;
    @extend %mainBackgroundColor;
}

.mainHeaderWrapper {
    @extend %flexJustifyCenter;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
    width: fit-content;
    margin: 0 25vw;
    h1 {
        font-family: $primaryFontStack;
        color: $primaryTextColor;
        font-size: 64px;
        width: 41vw;
    }
    .button {
        @extend %mainButtonStyle;
        align-self: flex-start;
        margin-top: 1.5%;
        font-family: $secondaryFontStack;
        &:hover {
            @extend %mainButtonBackgroundColorHover;
        }
        }

    }
