@import 'variables';
@import 'reset';

nav {
    ul {
        @extend %flexJustifyEvenly;
        font-family: $secondaryFontStack;
        @extend %mainBackgroundColor;
        padding: 1.5% 3%;
        a {
            font-weight: 400;
            color: white;
            &:hover {
                color: #746674;
            }
        }
    }
}

main {
    height: 100vh;
    @extend %mainBackgroundColor;
}

.mainHeaderWrapper {
    @extend %flexJustifyCenter;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
    width: fit-content;
    margin: 0 25vw;
    h1 {
        font-family: $primaryFontStack;
        color: $primaryTextColor;
        font-size: 64px;
    }
    .button {
        @extend %mainButtonStyle;
        align-self: flex-start;
        margin-top: 1.5%;
        font-family: $secondaryFontStack;
        &:hover {
            @extend %mainButtonBackgroundColorHover;
        }
        }

    }

section.about {
    height: 100vh;
    @extend %aboutBackgroundColor;
    padding: 1.5% 3%;;
    h2 {
        font-family: $primaryFontStack;
        color: $secondaryTextColor;
        font-size: 56px;
        margin-top: 2%;
    }
    .skillsContainer {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        margin: 5%;
    }
    .skillsWrapper {
        margin: 2.5%;
        p {
            font-family: $secondaryFontStack;
            color: $secondaryTextColor;
            text-align: center;
            margin-top: 2.5%;
            width: 19vw;
        }
        .flatBackground {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 3%;
            width: 20vw;
            max-width: 18vw;
            min-height: 33vh;
            transition-duration: 0.5s;
            border-radius: 65px;
            border: 2px solid #f3c1bd;
            &:hover {
                @extend %skillsWrapperColorHover;
                border-radius: 70px;
            }
            img.multipleitems {
                width: 7vw;
                max-width: 7vw;
                max-height: 98px;
            }
            img {
                width: 7vw; 
                max-height: 98px;
                height: auto;
                max-width: 7vw;
            }
        }
        }
    }