@import 'variables';
@import 'reset';

main {
    height: 100vh;
    @extend %mainBackgroundColor;
    padding: 1.5% 3%;
}

nav {
    ul {
        @extend %flexJustifyEvenly;
        font-family: $secondaryFontStack;
        position: fixed;
        width: 100vw;
        a {
            font-weight: 400;
            color: white;
            &:hover {
                color: #746674;
            }
        }
    }
}

.mainHeaderWrapper {
    @extend %flexJustifyCenter;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
    width: fit-content;
    margin: 0 25vw;
    h1 {
        font-family: $primaryFontStack;
        font-size: 64px;
        color: $primaryTextColor;
    }
    .button {
        align-self: flex-start;
        padding: 3% 7.5%;
        margin-top: 1.5%;
        font-family: $secondaryFontStack;
        background-color: $primaryButtonColor;
        transition-duration: 0.4s;
        font-weight: 700;
        letter-spacing: 0.15em;
        font-size: 17px;
        &:hover {
            @extend %mainButtonBackgroundColorHover;
        }
        }

    }
section.about {
    height: 100vh;
}