/*COLORS*/
main {
  background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);
}

section.about {
  background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}

section.about .skillsWrapper .flatBackground:hover {
  background-image: radial-gradient(#d8e9e9, #c0d8d7);
}

section.projects {
  background: black;
}

section.contact {
  background-image: linear-gradient(black 0%, #0f1713 130%);
}

/*BUTTON STYLING*/
.mainHeaderWrapper .button {
  padding: 3% 7.5%;
  background-color: #86CB92;
  transition-duration: 0.4s;
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 17px;
}

.mainHeaderWrapper .button:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #86CB92 0%, #6095ac);
  color: white;
}

/*POSITIONING*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

section.projects .projectsContainer .projectLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.mainHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

* {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a.button {
  cursor: default;
}

/*COLORS*/
main {
  background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);
}

section.about {
  background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}

section.about .skillsWrapper .flatBackground:hover {
  background-image: radial-gradient(#d8e9e9, #c0d8d7);
}

section.projects {
  background: black;
}

section.contact {
  background-image: linear-gradient(black 0%, #0f1713 130%);
}

/*BUTTON STYLING*/
.mainHeaderWrapper .button {
  padding: 3% 7.5%;
  background-color: #86CB92;
  transition-duration: 0.4s;
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 17px;
}

.mainHeaderWrapper .button:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #86CB92 0%, #6095ac);
  color: white;
}

/*POSITIONING*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

section.projects .projectsContainer .projectLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.mainHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

nav ul {
  font-family: "Roboto", Arial, sans-serif;
  padding: 2.5rem 2rem;
}
nav ul a {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}
nav ul a:hover {
  color: #c0d8d7;
}

/*COLORS*/
main {
  background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);
}

section.about {
  background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}

section.about .skillsWrapper .flatBackground:hover {
  background-image: radial-gradient(#d8e9e9, #c0d8d7);
}

section.projects {
  background: black;
}

section.contact {
  background-image: linear-gradient(black 0%, #0f1713 130%);
}

/*BUTTON STYLING*/
.mainHeaderWrapper .button {
  padding: 3% 7.5%;
  background-color: #86CB92;
  transition-duration: 0.4s;
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 17px;
}

.mainHeaderWrapper .button:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #86CB92 0%, #6095ac);
  color: white;
}

/*POSITIONING*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

section.projects .projectsContainer .projectLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.mainHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section.about {
  height: 100vh;
  padding: 1.5rem;
}
section.about h2 {
  font-family: "Tomorrow", Arial, sans-serif;
  color: #161616;
  font-size: 5.6rem;
  margin-top: 2rem;
  margin-left: 18rem;
}
section.about .skillsContainer {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 7rem;
}
section.about .skillsWrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 3.5rem;
}
section.about .skillsWrapper p {
  font-family: "Poppins", Arial, sans-serif;
  color: #252423;
  text-align: center;
  margin-top: 1.75rem;
  width: 15vw;
  font-size: 2.4rem;
}
section.about .skillsWrapper .flatBackground {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2.3rem;
  width: 15vw;
  max-width: 15vw;
  min-height: 33vh;
  transition-duration: 0.3s;
  border-radius: 6.5rem;
  border: 0.185rem solid #252423;
  margin: 1rem;
}
section.about .skillsWrapper .flatBackground:hover {
  border-radius: 8rem;
}
section.about .skillsWrapper .flatBackground img.multipleitems {
  width: 6vw;
  max-width: 6vw;
  max-height: 10rem;
}
section.about .skillsWrapper .flatBackground img {
  width: 7vw;
  max-height: 10rem;
  height: auto;
  max-width: 7vw;
}

/*COLORS*/
main {
  background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);
}

section.about {
  background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}

section.about .skillsWrapper .flatBackground:hover {
  background-image: radial-gradient(#d8e9e9, #c0d8d7);
}

section.projects {
  background: black;
}

section.contact {
  background-image: linear-gradient(black 0%, #0f1713 130%);
}

/*BUTTON STYLING*/
.mainHeaderWrapper .button {
  padding: 3% 7.5%;
  background-color: #86CB92;
  transition-duration: 0.4s;
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 17px;
}

.mainHeaderWrapper .button:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #86CB92 0%, #6095ac);
  color: white;
}

/*POSITIONING*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

section.projects .projectsContainer .projectLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.mainHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section.projects {
  height: 100vh;
  padding: 1.5rem;
}
section.projects h2 {
  font-family: "Tomorrow", Arial, sans-serif;
  color: #c0d8d7;
  font-size: 5.6rem;
  margin-top: 2.3rem;
  margin-left: 18rem;
}
section.projects .projectsContainer {
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
section.projects .projectsContainer .projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  transition-duration: 0.4s;
  width: 36vw;
  height: 43vh;
}
section.projects .projectsContainer .projectWrapper:hover {
  background-color: #0f1713;
  border-radius: 8rem;
}
section.projects .projectsContainer p {
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
section.projects .projectsContainer .projectLinksWrapper {
  margin-top: 0.8rem;
  width: 29vw;
}
section.projects .projectsContainer a {
  color: #a7dfdf;
  font-weight: lighter;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.5rem;
}
section.projects .projectsContainer a:hover {
  font-weight: normal;
}
section.projects img {
  width: 32vw;
}

/*COLORS*/
main {
  background-image: linear-gradient(to bottom, #0f1713 -17%, black 100%);
}

section.about {
  background-image: linear-gradient(to right, #c0d8d7 0%, #c0d8d7 100%);
}

section.about .skillsWrapper .flatBackground:hover {
  background-image: radial-gradient(#d8e9e9, #c0d8d7);
}

section.projects {
  background: black;
}

section.contact {
  background-image: linear-gradient(black 0%, #0f1713 130%);
}

/*BUTTON STYLING*/
.mainHeaderWrapper .button {
  padding: 3% 7.5%;
  background-color: #86CB92;
  transition-duration: 0.4s;
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 17px;
}

.mainHeaderWrapper .button:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #86CB92 0%, #6095ac);
  color: white;
}

/*POSITIONING*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

section.projects .projectsContainer .projectLinksWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.mainHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
}
section.contact h2 {
  color: #c0d8d7;
  font-family: "Tomorrow", Arial, sans-serif;
  font-size: 3.8rem;
  margin-bottom: 1rem;
}
section.contact .contactIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section.contact .contactIconsContainer img {
  width: 2vw;
}
section.contact .contactIconsContainer a {
  margin: 0 0.35rem;
}

html {
  font-size: 62.5%;
}

main {
  height: 100vh;
}

.mainHeaderWrapper {
  height: 100%;
  align-items: center;
  flex-flow: column nowrap;
  width: fit-content;
  margin: 0 40rem;
}
.mainHeaderWrapper h1 {
  font-family: "Tomorrow", Arial, sans-serif;
  color: #c0d8d7;
  font-size: 6.4rem;
  width: 41vw;
}
.mainHeaderWrapper .button {
  align-self: flex-start;
  margin-top: 1rem;
  font-family: "Roboto", Arial, sans-serif;
}

/*# sourceMappingURL=style.css.map */
